.h2robin{
  color: #9282a0;
  width: 65%;
  background-color: #27212c;
  float: left;
  font-size: 0.5rem;
  padding-left: 5%;
  padding-top: 35px;
  padding-bottom: 32px;
}

#arrow-1{
  background-color: #bc3183;
  float: left;
  width: 30%;
  height: 77px;
  text-align: center;
  img{
    width: 12px;
    padding-top: 30px;
  }
}