#text{
  background-color: #ebebeb;
  padding-left: 12%;
  padding-right: 12%;
  h2{
      font-size: 1.1rem;
      padding: 35px 0 26px 0;
  }
  p{
    padding-bottom: 35px;
    font-size: 0.9rem;
  }
}
.none{
  display: none;
}

.text-container {
  float: left;
  width: 100%;
}

.blaz{
  color: #088ca5;
}